In [60]:
import pandas as pd
import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8"
tables = pd.read_html(url)

# Шукаємо таблицю за назвою або вмістом
for table in tables:
    if "Регіон" in table.columns.values:
        # Перетворюємо стовпці на тип float
        for column in table.columns:
            if column in ['1990', '2000', '2012']:
                # Перетворюємо стовпець на тип float64
                table[column] = pd.to_numeric(table[column], errors='coerce').astype('float64')
            elif column != 'Регіон':
                # Перетворюємо стовпець на рядки, замінюючи порожні значення на NaN
                table[column] = table[column].astype(str).replace('', np.nan)
                # Замінюємо коми на крапки у стовпці, тільки якщо вони є
                table[column] = table[column].apply(lambda x: x.replace(',', '.') if isinstance(x, str) and x.replace(',', '').replace('.', '').isdigit() else x)
                # Перетворюємо стовпець на тип float, але тільки якщо вони є числовими
                table[column] = pd.to_numeric(table[column], errors='coerce')
        
        # Виведіть типи даних кожного стовпця
        print(table.dtypes)
        
        # Форматуємо дані для виведення з десятковим розділювачем
        pd.options.display.float_format = '{:,.1f}'.format
        
        print(table)
        print('')
        print("ПЕРШІ РЯДКИ ТАБЛИЦІ")
        print(table.head(2))        
        print('')
        print("ІНФОРМАЦІЯ ПРО ТАБЛИЦЮ:")
        rows, columns = table.shape
        print(f"Кількість рядків: {rows}")
        print(f"Кількість стовпців: {columns}")
        break

Регіон     object
1950      float64
1960      float64
1970      float64
1990      float64
2000      float64
2012      float64
2014      float64
2019      float64
dtype: object
               Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0                Крим 230.0 206.0 160.0 130.0  73.0 126.0   NaN   NaN
1           Вінницька 224.0 192.0 142.0 124.0  84.0 112.0 109.0  76.0
2           Волинська 247.0 250.0 179.0 153.0 112.0 148.0 141.0 101.0
3    Дніпропетровська 204.0 204.0 151.0 123.0  71.0 112.0 111.0  71.0
4            Донецька 271.0 214.0 140.0 109.0  61.0  98.0  82.0   NaN
5         Житомирська 261.0 223.0 159.0 129.0  89.0 122.0 120.0  79.0
6        Закарпатська 314.0 273.0 207.0 168.0 115.0 151.0 146.0 104.0
7          Запорізька 219.0 197.0 150.0 124.0  71.0 106.0 106.0  68.0
8   Івано-Франківська 243.0 248.0 182.0 155.0 103.0 124.0 122.0  88.0
9            Київська 204.0 189.0 156.0 123.0  73.0 122.0 121.0  80.0
10     Кіровоградська 216.0 171.0 145.0 126.0  79.0 110.0 108.0  68.0
11          Луганська 262.0 235.0 144.0 116.0  62.0  96.0  51.0   NaN
12          Львівська 234.0 240.0 171.0 140.0  91.0 119.0 119.0  87.0
13       Миколаївська 211.0 194.0 155.0 137.0  80.0 115.0 112.0  71.0
14            Одеська 241.0 192.0 148.0 126.0  80.0 127.0 123.0  88.0
15         Полтавська 186.0 163.0 131.0 118.0  70.0  99.0 100.0  65.0
16         Рівненська 269.0 267.0 193.0 158.0 118.0 159.0 148.0 107.0
17            Сумська 216.0 184.0 132.0 115.0  70.0  97.0  92.0  60.0
18      Тернопільська 213.0 216.0 157.0 142.0  92.0 113.0 109.0  76.0
19         Харківська 197.0 173.0 140.0 114.0  68.0  99.0 101.0  68.0
20         Херсонська 208.0 214.0 166.0 143.0  85.0 117.0 115.0  81.0
21        Хмельницька 234.0 198.0 148.0 129.0  85.0 113.0 112.0  79.0
22          Черкаська 205.0 179.0 144.0 123.0  75.0 100.0  98.0  64.0
23        Чернівецька 247.0 218.0 170.0 148.0 101.0 128.0 129.0  92.0
24       Чернігівська 220.0 183.0 127.0 108.0  69.0  94.0  90.0  61.0
25               Київ   NaN 174.0 159.0 120.0  73.0 120.0 121.0 110.0
26        Севастополь   NaN   NaN   NaN 125.0  70.0 120.0   NaN   NaN
27            Україна 228.0 205.0 152.0 126.0  78.0 114.0 111.0  81.0

ПЕРШІ РЯДКИ ТАБЛИЦІ
      Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0       Крим 230.0 206.0 160.0 130.0  73.0 126.0   NaN   NaN
1  Вінницька 224.0 192.0 142.0 124.0  84.0 112.0 109.0  76.0

ІНФОРМАЦІЯ ПРО ТАБЛИЦЮ:
Кількість рядків: 28
Кількість стовпців: 9